<% provide(:title, "About") %>
<h1>About</h1>
<p>
  Password Locker is a service similar to
  <a href="http://uk.pcmag.com/password-managers-products/4296/guide/the-best-password-managers-of-2018">
    <em>existing password management software</em></a>
  but with a few crucial differences. We strive to prevent 
  <a href="https://www.psychologytoday.com/us/basics/procrastination">procrastination</a>, to improve your
  <a href="https://en.wikipedia.org/wiki/Productivity">productivity</a>,
  and to do it all completely 
  <a href="https://dictionary.cambridge.org/dictionary/english/free-of-charge">free of charge</a>.
  This is the initial structure of Pasword Locker.
</p>
