<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help with your queries about Password Locker from
  <a href="https://www.facebook.com/michael.vanmaris">Michael</a>.
  Prospective Equity investors, please don't hesitate to reach out to any of the team, probs 
  <a href="https://www.facebook.com/turlough.ohagan.5"><em>Turlough</em></a> though.
</p>