<footer class="footer">
  <small>
    <a href="https://en.wikipedia.org/wiki/Password_manager">Password Locker</a>
    by <a href="https://www.facebook.com/turlough.ohagan.5">TDM & Friends</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.ft.com/">News</a></li>
    </ul>
  </nav>
</footer>